body {
    font-family: 'Manjari', sans-serif !important;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin-top: 10px;
  }

.is-fullwidth {
  width: 100%;
}

.br-12{
  border-radius: 12px;
}

.is-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.button.is-info {
  background-color: #00BFE6 !important;
  border-color: transparent;
  color: #fff;
}

.button.is-merah-dfi {
  background-color: #C31F54 !important;
  border-color: transparent;
  color: #fff;
}

.button.is-merah-dfi:hover {
  background-color: #C31F54 !important;
  border-color: transparent;
  color: #fff;
}



.has-text-dark-alexa {
  color: #6C6F6E !important;
}

.has-text-biru-alexa {
  color: #00BFE6 !important;
}

img.fullwidth{
  width: 100%;
}

.mb-5{
  margin-bottom: 7px;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.is-overflowed{
  overflow: auto;
}

.br-50{
  border-radius: 50%;
}

.card {
  background-color: white;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  border-radius: 12px;

  -webkit-box-shadow: 14px 11px 37px -15px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 14px 11px 37px -15px rgba(0, 0, 0, 0.66);
  box-shadow: 14px 11px 37px -15px rgba(0, 0, 0, 0.66);
}

/* .card-image {
  display: block;
  position: relative;
  padding: 10% 30%;
} */

.card-footer {
  background-color: transparent;
  align-items: stretch;
  display: flex;
  padding: 4%;
  border-top: none;
}

.check-icon {
  height: 22px;
  margin-right: 5px;
}

.button.is-fullwidth {
  display: flex;
  width: 100%;
  border-radius: 12px;
}
